$primary-tan-light: #f5f5dc;
$secondary-green-light: #d9ead3;
$secondary-green-medium: #9eb995;
$primary-green: #33691e;
$primary-green-dark: #4b6340;
$accent-blue: #66a6ff;
$white-translucent: rgba(255, 255, 255, 0.8);
$shadow: rgba(0, 0, 0, 0.15);