@use './colors' as *;
@use 'sass:color';

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: $color-green-light;
  color: #1f2937;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

a {
  color: $color-green-primary;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: $color-green-dark;
}